:root {

--color-blue: hsl(213, 96%, 18%);
--color-purple: hsl(243, 100%, 62%);
--color-blue-lighter: 300: hsl(228, 100%, 84%);
--color-blue-light: hsl(206, 94%, 87%);
--color-red: hsl(354, 84%, 57%);


--color-grey: hsl(231, 11%, 63%);
--color-purple-light: hsl(229, 24%, 87%);
--color-blue-very-light: hsl(218, 100%, 97%);
--color-blue-lightest: hsl(231, 100%, 99%);
--color-white: hsl(0, 100%, 100%);

}

.card {
  width: 60rem;
  height: 40rem;
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "steps form";
  border-radius: 1.8rem;
  padding: 1.5rem;
  gap: 2rem;
}

.card_steps{
  background-image: url(../public/assets/bg-sidebar-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  grid-area: steps;
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card_form {
  grid-area: form;
  background-color: blueviolet;
}

.step {
  background-color: beige;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0 .5rem;
}

.active {
  outline: 4px solid rgb(0, 0, 0);
}